
@unit: px;
@width-range: 375;
@height-range: 375;
@padding-range:100;
@margin-range:100;
@line-height-range:100;
@position-range:100;
@border-range:10;
@border-radius-range:50;
@font-size-range:50;
@colorTypes: blue, purple, cyan, green, magenta, pink, red, orange, yellow, volcano, geekblue, lime, gold;

